.wrapper_with_padding
  #docs.clearfix
    - unless @docs.empty?
      - @docs.each do |d|
        %a{href: (url_for [d])}
          .doc
            %p.title= d.title
            %p.date= time_ago_in_words(d.created_at)
            %p= truncate(d.content,length: 50)
    - else
      %h2 Create Doc!
      %p Start creating documents.
      %button= link_to "Create Doc", new_doc_path
