#banner
  .banner_content
    %h1 My Docs
    %p Store your Work! Organized.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Et drinking vinegar dolore sriracha ad 8-bit. Vape elit direct trade glossier roof party echo park. Venmo copper mug swag lorem wayfarers master cleanse et ut dolore elit post-ironic. Synth snackwave tousled hoodie ennui pariatur slow-carb sriracha actually readymade fanny pack exercitation mollit sustainable fashion axe. Trust fund food truck snackwave coloring book pour-over kale chips PBR&B in la croix tousled cliche. Asymmetrical XOXO fam, meggings vegan keffiyeh pork belly do. Hella listicle ut nulla. Roof party kogi ennui tofu ut culpa squid seitan live-edge vice health goth stumptown air plant meh.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join", new_user_registration_path
